<h3><i class="fa fa-archive fa-2x"></i> Categories</h3>
<p>
    Categories provide a way of breaking down your income and expenses.
</p>
<div class="alert alert-danger" ng-show="errorMessage">
    {{errorMessage}}
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <form name="addCategoryForm" class="form-inline">
            <input type="text" id="new-category-name" ng-model="newCategoryName" class="form-control category-name"></input>
            <button id="import-files" type="submit" class="btn btn-default" ng-click="addCategory()">Add</button>
        </form>
      </td>
      <td></td>
    </tr>
    <tr ng-repeat="category in categoryList | orderBy:sortType:sortReverse">
      <td>{{category.name}}</td>
      <td class="text-right">
          <form name="category{{category.name}}Form">
            <button type="submit" class="btn btn-default" ng-click="deleteCategory(category)" title="Delete '{{category.name}}'"><i class="fa fa-trash-o"></i></button>
          </form>
      </td>
    </tr>
  </tbody>
</table>
