<h3><i class="fa fa-upload fa-2x"></i> Import Transactions</h3>
<p>
    Import transactions into the application by selecting one or more files:
</p>
<div ng-if="!hasFiles()">
  <form name="selectFilesForm" class="form form-horizontal">
      <div class="alert alert-danger" ng-show="errorMessage">
          {{errorMessage}}
      </div>
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
              <button id="import-files" type="submit" class="btn btn-primary" ng-click="selectFiles()">Select Files...</button>
          </div>
      </div>
  </form>
</div>
<div ng-if="hasFiles()">
  <p>The following files will be imported:</p>
  <ul>
      <li ng-repeat="file in files">{{file}}</li>
  </ul>
  <form name="importFilesForm" class="form form-horizontal">
      <div class="alert alert-danger" ng-show="errorMessage">
          {{errorMessage}}
      </div>
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <input id="delete-after-import" type="checkbox" ng-model="deleteAfterImport"></input>
            <label for="delete-after-import">Delete imported files when done.</label>
          </div>
          <div class="col-sm-offset-2 col-sm-10">
              <button id="import-files" type="submit" class="btn btn-primary" ng-click="importFiles(deleteAfterImport)">Import Files</button>
              <button id="import-files" type="submit" class="btn" ng-click="cancel()">Cancel</button>
          </div>
      </div>
  </form>
</div>
<h3>What To Do?</h3>
<p>
  This application works by importing transaction data that you provide.
  To get the files that you need, you'll have to log in to your bank website with
  your web browser and follow these steps:
</p>
<ol>
    <li>First, using your web browser log in to your bank website.</li>
    <li>For each account that you want to track transactions, follow the following steps.</li>
    <li>Select an account.</li>
    <li>Select a time period.</li>
    <li>Select the download file format. (Should be "Microsoft Money", "Intuit Quicken", "Intuit Quickbooks", or "Simply Accounting")</li>
    <li>Press the Download button.</li>
</ol>
<p>
  When you're done downloading transactions for every account and time period of
  interest, use the "Select Files" button above to import the downloaded files.
</p>
