<div ng-if="report">
  <h3><i class="fa fa-line-chart fa-2x"></i> {{report.title}}<help target="categorize-transactions" text="Categorize Transactions"></help></h3>
  <table class="table table-striped table-hover">
      <thead>
        <tr>
            <th>Month</th>
            <th class="text-right">Income</th>
            <th class="text-right">Expenses</th>
            <th class="text-right">Difference</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="month in report.months" ng-click="openTransactions(month)" class="clickable">
          <td>{{month.name}}</td>
          <td class="text-right">{{formatCurrency(month.incomeTotal)}}</td>
          <td class="text-right">{{formatCurrency(month.expensesTotal)}}</td>
          <td class="text-right" ng-class="classOfAmount(month.incomeTotal-month.expensesTotal)">{{formatCurrency(month.incomeTotal-month.expensesTotal)}}</td>
        </tr>
      </tbody>
  </table>
</div>
