<h3><i class="fa fa-list-alt fa-2x"></i> {{title}}<help target="categorize-transactions" text="Categorize Transactions"></help>
  <a class="btn btn-default pull-right" href="#transactions" role="button">Done</a>
</h3>
<div class="transactions-listing">
  <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
            <th>
              <a ng-click="switchSortType(dateOf)">Date</a>
              <span ng-show="sortType === dateOf &amp;&amp; !sortReverse" class="fa fa-sort-amount-asc"></span>
              <span ng-show="sortType === dateOf &amp;&amp; sortReverse" class="fa fa-sort-amount-desc"></span>
            </th>
            <th>Description</th>
            <th>
                <a ng-click="switchSortType(sortCategory)">Category</a>
                <span ng-show="sortType === sortCategory &amp;&amp; !sortReverse" class="fa fa-sort-amount-asc"></span>
                <span ng-show="sortType === sortCategory &amp;&amp; sortReverse" class="fa fa-sort-amount-desc"></span>
            </th>
            <th class="text-right">
              <a ng-click="switchSortType(sortIncome)">Income</a>
              <span ng-show="sortType === sortIncome &amp;&amp; !sortReverse" class="fa fa-sort-amount-asc"></span>
              <span ng-show="sortType === sortIncome &amp;&amp; sortReverse" class="fa fa-sort-amount-desc"></span>
            </th>
            <th class="text-right">
              <a ng-click="switchSortType(sortExpense)">Expense</a>
              <span ng-show="sortType === sortExpense &amp;&amp; !sortReverse" class="fa fa-sort-amount-asc"></span>
              <span ng-show="sortType === sortExpense &amp;&amp; sortReverse" class="fa fa-sort-amount-desc"></span>
            </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="transaction in periodTransactions.transactions | orderBy:sortType:sortReverse">
          <td>{{dateOf(transaction)}}</td>
          <td>{{transaction.description}}</td>
          <td ng-mouseenter="editTransaction(transaction,true)" ng-mouseleave="editTransaction(transaction,false)" class="transaction-category">
            <span ng-if="!transaction.edit">{{transaction.categoryName}}</span>
            <a ng-if="transaction.edit" ng-click="setCategory(transaction)">Choose category...</a>
          </td>
          <td class="text-right">{{incomeOf(transaction)}}</td>
          <td class="text-right">{{expenseOf(transaction)}}</td>
        </tr>
      </tbody>
  </table>
</div>
