@import "variables";

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  padding-top: $navbar-height;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: ($line-height-computed/3);
  margin-bottom: ($line-height-computed / 4);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

a.amount {
  color: $text-color;
}

tr.clickable {
  cursor: pointer;
}

.form-inline input.category-name {
  width: 60%;
}


/* toast */


.toast {
  position: absolute;
  left: 50%;
  top: 30px;
}
.toast div {
  position:relative;
  left:-50%;
}

body {
  position: relative;
}

/* angular-ui */


.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.modal-backdrop {
  height: 100%;
}

.transactions-listing select {
  width: 100px;
  height: 20px;
}
td.transaction-category {
  min-width: 104px;
}


canvas {
  background-color: white;
}
.chart-pie {
  max-width: 400px;
  max-height: 400px;
}

.eula-buttons {
  padding-bottom: 20px;
}

.eula {
  font-size: $font-size-small;
  h2 {
    font-size: floor(($font-size-small * 1.6));
  }
  h3 {
    font-size: floor(($font-size-small * 1.4));
  }
  h4 {
    font-size: floor(($font-size-small * 1.2));
  }
}
